@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
body, html {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f0f0f0;
  font-size: large;
}

#div_page_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
}

#div_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  overflow: auto;
}

#div_active_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#div_container_output {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: auto;
}

#div_output_field {
  padding: .5em 1.5em;
  height: 100%;
  overflow: auto;
  color: #f0f0f0;
  border: #f0f0f0 .2em solid;
}

#div_output_control {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

#div_active_feature {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.div_feature_row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.button {
  font-size: large;
  width: 100%;
  border: #f0f0f0 .2em solid;
  padding: .25em;
  background-color: black;
  color: #f0f0f0;
  height: 5em;
}

.input_text_area, textarea {
  border: #f0f0f0 .2em solid;
  width: 100%;
  font-size: large;
}

.selector {
  padding: 0.25em;
  width: 100%;
  border: #f0f0f0 .2em solid;
  text-align: center;
  font-size: large;
  background-color: black;
  color: #f0f0f0;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#title {
  color: #f0f0f0;
}

.div_active_sidebar {
  width: 20%;
}

.hidden {
  display: none;
}

#div_top_menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.button_image {
  max-height: 2em;
}

#input_journal_textarea {
  width: 95%;
  background-color: black;
  color: #f0f0f0;
  height: 10em;
  border: none;
  padding: 1em;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

@media (max-width: 1024px) {
  body, .button, .selector {
    font-size: x-large;
  }

  .input_text_area, textarea {
    font-size: xx-large;
  }
}